/* everything below this is strictly for the navbar*/
.total_navbar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  max-width: 100%;
}

.Main_menu {
  align-self: center;
  padding: 0.5em;
}

.Main_menu_list {
  display: flex;
  list-style: none;
  font-style: none;
  padding: 0;
  margin: 0;
  color: #3cc1c9ff;
}

.Main_menu_link{
  display: flex;
  padding: 0.25em;
  margin: 0.25em;
  transition: background-color 0.3s;
  text-decoration: none;
  color: rgb(0, 125, 132);
}

.Main_menu_link:hover {
  transform: scale(1.2);
  color: #ea580c;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Main_menu_link:hover::before {
  content: "<";
}
.Main_menu_link:hover::after {
  content: "/>";
}